.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
}
.mywork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.mywork-item {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

/* Apply hover effect to the entire mywork-item */
.mywork-item:hover {
    transform: scale(1.05);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

/* Ensure image and description inside hover */
.mywork-item img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-item h3 {
    margin-top: 10px;
    font-size: 22px;
    color: #fff;
    transition: 0.3s;
}

.mywork-item p {
    font-size: 18px;
    color: #bbb;
    margin-top: 5px;
    transition: 0.3s;
}

/* Ensure text color and scaling effect on hover */
.mywork-item:hover h3,
.mywork-item:hover p {
    transform: scale(1.1);
}

/* Responsive design */
@media (max-width: 768px) {
    .mywork {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .mywork-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .mywork-title img {
        width: 130px;
        margin-right: -20px;
    }

    .mywork-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .mywork-item img {
        width: 100%;
        height: auto;
    }
}
